mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.signin-content {
  padding: 0.5rem 1rem;
}

.full-width-input {
  width: 100%;
}
