<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Maths" #input />
</mat-form-field>
<div class="container mat-elevation-z8">
  <ng-container *ngIf="dataSource">
    <mat-paginator
      [length]="totalAssignments"
      [pageSize]="assingnmentsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangePage($event)"
      *ngIf="dataSource._data._value.length > 0"
    ></mat-paginator>
  </ng-container>

  <table
    mat-table
    [dataSource]="dataSource"
    (matSortChange)="sortData($event)"
    matSort
    class="mat-elevation-z8"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let assignment; let i = index">
        {{ assignment.position }}
      </td>
    </ng-container>

    <!-- assignment Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let assignment">{{ assignment.title }}</td>
    </ng-container>

    <!-- lastUpdate Column -->
    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
      <td mat-cell *matCellDef="let assignment">
        {{ assignment.lastUpdate }}
      </td>
    </ng-container>

    <!-- Instructor Column -->
    <ng-container matColumnDef="instructor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Instructor</th>
      <td mat-cell *matCellDef="let assignment">
        {{ assignment.instructor }}
      </td>
    </ng-container>

    <!-- options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
      <td mat-cell *matCellDef="let assignment; let controlIndex = index">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <ng-container *ngIf="!isLoading">
          <a
            class="button"
            style="color: #3f51b5"
            (click)="openDialog(controlIndex, 'edit')"
            matTooltip="Edit the assignment"
          >
            <mat-icon>create</mat-icon>
          </a>
          <a
            class="button"
            style="color: #f44b4b"
            matTooltip="Delete the assignment"
            (click)="deleteAssignment(controlIndex)"
            matTooltip="Delete the assignment"
          >
            <mat-icon>delete</mat-icon>
          </a>

          <a
            style="color: #2a78d1"
            class="button"
            (click)="openDialog(controlIndex, 'upload')"
            matTooltip="Attach the assignment file"
          >
            <mat-icon> attach_file</mat-icon>
          </a>
          <a
            *ngIf="assignment.filePath"
            style="color: #b34d4d"
            class="button"
            target="_blank"
            [routerLink]="['/pdfViewer', assignment.filePath]"
            matTooltip="Open the pdf web viewer page"
          >
            <mat-icon>picture_as_pdf</mat-icon>
          </a>
          <a
            *ngIf="assignment.filePath"
            class="button"
            (click)="onDownloadAssignment(assignment)"
            matTooltip="Download the assignment"
          >
            <mat-icon>save_alt</mat-icon>
          </a>
          <a
            style="color: #5b4db3"
            class="button"
            [routerLink]="[
              '/courses/',
              assignment.courseId,
              'assignments',
              assignment.id
            ]"
            matTooltip="Open the Assignment's page"
          >
            <mat-icon>launch</mat-icon>
          </a>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container *ngIf="dataSource">
      <!-- Row shown when there is no matching data. -->
      <ng-container *ngIf="dataSource._data._value.length === 0">
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell message" colspan="7">
            No assignments added yet!
          </td>
        </tr>
      </ng-container>
      <!-- Row shown when there is no matching data. -->
      <ng-container *ngIf="dataSource._data._value.length > 0">
        <tr class="mat-row message" *matNoDataRow>
          <td class="mat-cell" colspan="7">
            No data matching the filter {{ input.value }}
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
</div>
<div class="flex-row-center"></div>
<div id="add-button" *ngIf="!isLoading">
  <button
    mat-raised-button
    color="primary"
    (click)="openDialog(undefined, 'create')"
  >
    Add assignment
  </button>
</div>
