<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Description">
    <mat-card>
      <mat-card-content *ngIf="assignment">{{
        assignment.description
      }}</mat-card-content></mat-card
    ></mat-tab
  >
  <mat-tab label="Materials"
    ><app-assignment-material-list></app-assignment-material-list>
  </mat-tab>
  <mat-tab
    *ngIf="userRole === 'instructor' || userRole === 'admin'"
    label="Upload Materials"
  >
    <app-dragAndDrop
      [component]="'material'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>

  <mat-tab label="Deliveries">
    <app-student-delivery-files
      *ngIf="userRole"
      [userRole]="userRole"
      [displayedColumns]="
        userRole === 'admin' || userRole === 'instructor'
          ? ['position', 'name', 'studentName', 'lastUpdate', 'options']
          : ['position', 'name', 'lastUpdate', 'options']
      "
    ></app-student-delivery-files
  ></mat-tab>
  <mat-tab *ngIf="userRole === 'student'" label="Upload Delivery">
    <app-dragAndDrop
      [component]="'student-delivery'"
      [parentComponent]="'assignment'"
    ></app-dragAndDrop
  ></mat-tab>
  <mat-tab label="Ranks">
    <app-student-delivery-assignments
      [userRole]="userRole"
      [displayedColumns]="
        userRole === 'admin' || userRole === 'instructor'
          ? [
              'position',
              'studentName',
              'assignmentName',
              'lastUpdate',
              'rank',
              'options'
            ]
          : ['position', 'assignmentName', 'lastUpdate', 'rank']
      "
      *ngIf="userRole"
    ></app-student-delivery-assignments
  ></mat-tab>
</mat-tab-group>
