:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-accordion {
  height: 100%;
}

.mat-expansion-panel-body,
.assignment-details,
.mat-action-row {
  padding-bottom: 0 !important;
}

.assignment-details,
.mat-action-row {
  padding-top: 0 !important;
}

mat-action-row.mat-action-row {
  /* justify-content: center;
   */
  display: flex;
  justify-content: center;
  padding-left: 30%;
}

.mat-expansion-panel {
  max-height: 40%;
  padding: 0;
  /* background-color: #ffeeee; */
}

mat-spinner {
  margin: auto;
}

.assignment-file {
  width: 100%;
}

.assignment-file img {
  width: 50%;
  margin-left: 25%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.message {
  max-width: 400px;
  margin: 2em auto;
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

#add-button {
  display: flex;
  justify-content: center;
  align-items: top;
  /* align-self: center; */
}

.pdfThumbnail .mat-icon {
  font-size: 15px;
}

mat-paginator {
  margin-top: 1rem;
}

/* ******************** */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #28a745;
}

input[type='file'] {
  visibility: hidden;
  width: 1%;
}

.action-buttons {
  padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field input {
  cursor: auto;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
}

.header span {
  width: 33%;
  color: #2125297d;
  font-size: 0.8rem;
}

.header span:first-child {
  margin-left: 5%;
} */

.assignment-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 0;
}

.description-field {
  width: 100%;
}

/* *********************** */

.assignment-diagram {
  min-width: 80px;
  max-width: 110px;
  border: 2px solid black;
  padding: 0;
  font-weight: lighter;
  margin: 8px 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assignment-diagram img {
  height: 70%;
  width: 70%;
}
.assignment-diagram mat-icon {
  width: 40%;
}

.assignment-details-attribution {
  opacity: 0.5;
}

.matLabel {
  color: #a1a1a1;
  font-size: 0.7rem;
}

.page-container {
  margin: auto 5% auto 5%;
}

.mat-expansion-panel-header {
  display: flex !important;
  min-height: 48px !important;
}

.mat-accordion .mat-expansion-panel {
  margin: 2%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-start-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* height: 48px; */
  align-items: center;
  margin-bottom: 3%;
}
.flex-space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 48px;
  align-items: center;
}

.flex-start-row span {
  margin: 0 5% 0 -2%;
}

a {
  cursor: pointer;
}

/* .course-components:not(:first-child) {
  margin: 3% 5% 0 -2%;
} */

.course-components {
  margin: 3% 5% 0 -2%;
}

.course-componentts a {
  margin-bottom: 3%;
}

.course-components:first-child {
  margin: 3% 7% 0 0;
}

.course-description-attribution {
  padding: 1% 0 0 35%;
}

.course-description-attribution a {
  margin-left: 6%;
}

mat-tab mat-label {
  margin-top: 3%;
}

#assignment-links {
  margin-bottom: 2%;
}
