<mat-tab-group mat-align-tabs="center">
  <mat-tab
    label="Materials"
    color="primary"
    matTooltip="show the assignment's materials"
    ><app-course-material-list></app-course-material-list>
  </mat-tab>
  <mat-tab
    *ngIf="userRole === 'instructor' || userRole === 'admin'"
    label="Upload Materials"
    color="primary"
    matTooltip="add assignment's material"
  >
    <app-dragAndDrop
      [component]="'material'"
      [parentComponent]="'course'"
    ></app-dragAndDrop
  ></mat-tab>

  <mat-tab
    label="Assignments"
    color="primary"
    matTooltip="upload your assignment delivery"
    ><app-instructor-assignments
      *ngIf="userRole === 'instructor' || userRole === 'admin'"
    ></app-instructor-assignments>
    <app-student-assignments
      *ngIf="userRole === 'student'"
    ></app-student-assignments>
  </mat-tab>
</mat-tab-group>
